# Compiled Object files
*.o
*.obj

# Precompiled Headers
*.h
!tests/TGV/
!tests/BoundaryLayer/
!tests/HtypeBreakdown/

# Fortran module files
*.mod

# Executables
./simulate
./post
./interpol

# Output files HPC
slurm*
out
!tests/TGV/
!tests/BoundaryLayer/
!tests/HtypeBreakdown/

# Others 
JOB
*.txt
*.bin
!tests/TGV/
!tests/BoundaryLayer/
!tests/HtypeBreakdown/
*.xmf
Makefile
!tests/TGV/
!tests/BoundaryLayer/
!tests/HtypeBreakdown/
