# Compiled Object files
*.o
*.obj

# Precompiled Headers
#*.h

# Fortran module files
*.mod

# Executables
./simulate
./post
./interpol

# Output files HPC
slurm*
#out

# Others 
JOB
#*.txt
#*.bin
*.xmf
#Makefile
