# Compiled Object files
*.o
*.obj

# Precompiled Headers
*.h
!tests/

# Fortran module files
*.mod

# Executables
./simulate
./post
./interpol

# Output files HPC
slurm*
out
!tests/

# Others 
JOB
*.txt
*.bin
!tests/
*.xmf
Makefile
!tests/
